<% layout('/layouts/boilerplate.ejs')-%>
<body>
    <div class="row">
        <div class="col-10 offset-2">
            <h3>Listing Details :</h3>
            <div class="card col-6">
                <img class="card-img-top show-img" src="<%=listing.image%>>" alt="listing_image">
                <div class="card-body">
                  <h5 class="card-title"><%= listing.title%></h5>
                  <p class="card-text"><%= listing.description%></p>
                  
              
            </div>
            <ul>
        
                <li>Price: &#8377; <%= listing.price.toLocaleString("en-IN")%></li>
                <li>Location: <%= listing.location%></li>
                <li>Country: <%= listing.country%></li>
            </ul>
            <hr>
           
                <div class="btns">
                    <a href="/listings/<%=listing._id%>/edit" class="btn edit-btn mb-3 primary col-4 offset-2">Edit</a><br>

                
                    <form method="POST" action="/listings/<%=listing.id%>/delete?_method=DELETE">
                        <button class="btn btn-dark primary mb-3 offset-4 ">Delete</button>
                    </form>
                </div>

                
            
        </div>

    </div>


</body>
</html>